<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>0xcidqwyyjg7nrp5sgl1x4tegmqxhep9m9padorjpd2e4dw8o7a7z7iex8nw8e9gf2di0foyi4h8czw8soht4kw9087esvpik0i9</string>
</dict>
</plist>
